
.node-view-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.25;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
    margin-top: 0;
    margin-bottom: 16px;
    color: #333;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    cursor: default;
}

.node-view-header {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaecef;
    display: block;
    color: #333;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    cursor: default;
}

.node-view-documentation-button {
    display: inline-block;
    color: #888;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    width: 12px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    border-radius: 50%;
    transform: translateY(-1px);
    padding: 1px;
    background: transparent;
    border: 1px solid #aaa;
    text-decoration: none;
    cursor: hand;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
}

.node-view-documentation-button:hover {
    color: #333;
    border: 1px solid #333;
}

.node-view-item {
    margin-bottom: 6px;
    display: block;
}

.node-view-item-name {
    float: left; 
    font-size: 10px;
    min-width: 95px;
    max-width: 95px;
    padding-right: 5px;
    padding-top: 7px;
    display: block;
}

.node-view-item-name input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color:
    inherit; width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-overflow: ellipsis;
}

.node-view-item-value-list {
    margin: 0;
    margin-left: 105px;
    overflow: hidden;
    display: block;
    padding: 0;
}

.node-view-item-value {
    font-size: 10px;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(27, 31, 35, 0.05);
    margin-top: 3px;
    margin-bottom: 3px;
    overflow: auto;
}

.node-view-item-value b {
    font-weight: 600;
}

.node-view-item-value code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; 
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word; 
}

.node-view-item-value pre {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; 
    margin: 0;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    display: block;
}

.node-view-item-value-line {
    padding: 4px 6px 4px 6px;
}

.node-view-item-value-line-border {
    padding: 4px 6px 4px 6px;
    border-top: 1px solid rgba(27, 31, 35, 0.05);
}

.node-view-item-value-line-content {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
    display: block;
}

.node-view-item-value-expander {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; 
    float: right;
    color: #aaa;
    cursor: hand;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 4px 6px 4px 6px;
}

.node-view-item-value-expander:hover {
    color: #000;
}
