
.node path { stroke: #000; fill: none; stroke-width: 1px; }
.node line { stroke: #000; fill: none; stroke-width: 1px; }
.node-item path { stroke-width: 0; stroke: #000; fill: #fff; }
.node-item text { font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf; font-size: 10px; font-weight: 600;  text-rendering: geometricPrecision; }

.node-item-operator path { fill: #000; }
.node-item-operator text { fill: #fff; }
.node-item-operator:hover { cursor: hand; }
.node-item-operator:hover path { fill: #fff; }
.node-item-operator:hover text { fill: #000; }

.node-item-constant path { fill: #eee; }
.node-item-constant:hover { cursor: hand; }
.node-item-constant:hover path { fill: #fff; }

.node-attribute:hover { cursor: hand; }
.node-attribute text { font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf; font-size: 7px; font-weight: normal; text-rendering: geometricPrecision; }
.node-attribute path { fill: #fff; stroke-width: 0; stroke: #000; }
.node-attribute:hover path { fill: #f6f6f6; }

.edge-label text { font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf; font-size: 10px; }
.edge-path { stroke: #000; stroke-width: 1px; fill: none; }
.edge-path-control { stroke-dasharray: 5, 5; }

.cluster rect { stroke: #000; fill: #000; fill-opacity: 0.08; stroke-width: 0; }