
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}

.center {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    margin: 0;
    font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
    text-rendering: geometricPrecision;
}

.background button {
    font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px 0 10px;
    min-width: 60px;
    height: 30px;
    border-radius: 6px;
    transition: 0.1s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: #888;
    background-color: #e6e6e6;
    border: 1px solid #aaa;
}

.background button:hover { 
    color: #e6e6e6;
    background-color: #aaa;
    cursor: hand;
    transition: 0.2s;
}

.background button:focus
{
    outline: 0;
}

@-webkit-keyframes orbit {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes orbit {
      0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.spinner, .spinner:after {
    border-radius: 50%;
    width: 104px;
    height: 104px;
}
  
.spinner {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 4px solid #bbb;
    border-right: 4px solid #bbb;
    border-bottom: 4px solid #bbb;
    border-left: 4px solid #e6e6e6;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: orbit 1.1s infinite linear;
    animation: orbit 0.5s infinite linear;
}

.sidebar {
    font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
    height: 100%;
    width: 0;
    position: fixed;
    transition: 0.2s;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f8f8f8;
    overflow: hidden;
    border-left: 1px solid #ccc;
}

.sidebar-title {
    font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    height: 20px;
    margin: 0;
    padding: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.sidebar-closebutton {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    opacity: 1.0;
    display: block;
    transition: 0.2s;
    position: absolute;
    top: 0;
    right: 15px;
    margin-left: 50px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.sidebar-closebutton:hover {
    color: #f1f1f1;
}

.sidebar-content {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    position: relative;
}

.sidebar button {
    font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px 0 10px;
    min-width: 60px;
    height: 30px;
    margin: 0;
    border-radius: 6px;
    transition: 0.1s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: #888;
    background-color: #f8f8f8;
    border: 1px solid #aaa;
}

.sidebar button:hover {
    color: #f8f8f8;
    background-color: #aaa;
    transition: 0.2s;
}

.sidebar button:focus {
    outline: 0;
}

.graph {
    display: block;
    position: absolute;
    background-color: #fff;
    text-rendering: geometricPrecision;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.toolbar {
    padding: 0;
    margin: 0;
}

.toolbar button {
    background: None;
    border-radius: 6px;
    border: 0;
    margin: 0;
    padding: 0;
    fill: None;
    stroke: #777;
    cursor: hand;
}

.toolbar button:hover {
    fill: None;
    stroke: #000;
}

.toolbar button:focus {
    outline: 0;
}