
.background {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
}

button {
    font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px 0 10px;
    min-width: 60px;
    height: 30px;
    margin: 0;
    border-radius: 6px;
}

button:hover {
    cursor: hand;
}

button:focus
{
    outline: 0;
}

button {
    color: #aaa;
    background-color: #fff;
    border: 1px solid #aaa;
    transition: 0.2s;
}

button:hover { 
    color: #fff;
    background-color: #aaa;
    transition: 0.2s;
}

.background button {
    color: #999;
    background-color: #e6e6e6;
    border: 1px solid #aaa;
}

.background button:hover { 
    color: #e6e6e6;
    background-color: #aaa;
}

.sidebar {
    font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 12px;
    height: 100%;
    width: 0;
    position: fixed;
    transition: 0.2s;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    border-left: 1px solid #ccc;
}

.sidebar-title {
    font-family: 'Open Sans', --apple-system, "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-weight: 600;
    font-size: 12px;
    height: 20px;
    margin: 0;
    padding: 20px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    opacity: 1.0;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar-closebutton {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar-content {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    position: relative;
}

.graph {
    display: block;
    position: absolute;
    background-color: #fff;
}
