:root {
  --primary-color: #2C64E3;
  --secondary-color: #374e84;
  --primary-background-color: #F4F7FE;
  --primary-white: #fcfcfc;
  --primary-color-light: #3366FF33;
  --font-size: 16px;
}

html {
  touch-action: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
body {
  touch-action: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI",
    "Ubuntu", "Droid Sans", sans-serif, "PingFang SC";
  font-size: 12px;
  text-rendering: geometricPrecision;
}
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI",
    "Ubuntu", "Droid Sans", sans-serif, "PingFang SC";
}
.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.select {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}
.graph {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  outline: none;
  touch-action: pan-x pan-y;
  background-color: var(--primary-background-color);
}
.canvas {
  margin: auto;
  flex-shrink: 0;
  text-rendering: geometricPrecision;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.open-file-dialog {
  display: none;
}
.default {
  background-color: var(--primary-background-color);
}
.default .logo {
  display: none;
}
.default .graph {
  display: flex;
  opacity: 1;
}
.default .toolbar {
  display: table;
}
.toolbar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.toolbar button:focus {
  outline: 0;
}
.toolbar-button {
  float: left;
  background: None;
  border-radius: 6px;
  border: 0;
  margin: 0;
  margin-right: 1px;
  padding: 0;
  fill: None;
  stroke: #777;
  cursor: pointer;
  width: 24px;
  height: 24px;
  user-select: none;
}
.toolbar-back-button {
  float: left;
  background: #777;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 0px solid;
  border-color: #777;
  margin: 2px 0 2px 8px;
  padding: 0 8px 0 8px;
  cursor: pointer;
  height: 20px;
  color: #ffffff;
  font-size: 11px;
  line-height: 0;
  transition: 0.1s;
}
.toolbar-back-button:hover {
  background: #000000;
  border-color: #000000;
}
.toolbar-name-button {
  float: left;
  background: rgba(255, 255, 255, 0.95);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #777;
  color: #777;
  border-left: 1px;
  border-left-color: #ffffff;
  margin: 2px 0 2px 0;
  padding: 0 12px 0 6px;
  cursor: pointer;
  width: auto;
  height: 20px;
  font-size: 11px;
  line-height: 0;
  transition: 0.1s;
}
.toolbar-name-button:hover {
  color: #000000;
}
.toolbar-icon .border {
  stroke: #fff;
}
.toolbar-icon .stroke {
  stroke: #808080;
}
.toolbar-icon:hover .stroke {
  stroke: #000000;
}
.welcome body {
  background-color: var(--primary-background-color);
}
.welcome {
  background-color: var(--primary-background-color);
  color: #242424;
}
.logo-text {
  top: -57px;
  width: 582px;
  transition: 0.1s;
}
.logo-name {
  top: -170px;
  width: 582px;
  transition: 0.1s;
}
.logo-icon {
  left: 248px;
  top: -18px;
  width: 106px;
  height: 106px;
  transition: 0.1s;
}
.logo-spinner {
  left: 248px;
  top: -18px;
  width: 106px;
  height: 106px;
  display: none;
}
.logo-stroke {
  stroke: #444444;
}
.logo-fill {
  fill: #444444;
}
.logo-border {
  stroke: #555555;
}
.logo-glyph {
  fill: #444444;
}
.logo-button {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  min-width: 5em;
  height: 2.7em;
  border-radius: 8px;
  transition: 0.1s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
}
.logo-button:hover {
  color: #ececec;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: 0.2s;
}
.logo-button:focus {
  outline: 0;
}
.logo-message {
  display: none;
  height: 0px;
}
.logo-github {
  display: none;
}
.open-file-button {
  top: 170px;
  left: 0px;
  width: 10.5em;
}
.progress {
  top: 120px;
  height: 2px;
  width: 400px;
}
.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #444444;
}
.message-dialog {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
}
.message-dialog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  background-color: #fff;
  border-radius: 20px;
  padding: 32px 24px;
}
.message-button {
  /* top: 224px; */
  left: 0px;
  width: 125px;
}
.message-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}
.message .message-dialog {
  display: flex;
}
.message .logo-name {
  display: none;
}
.message .open-file-button {
  display: none;
}
.message .progress {
  display: none;
}
.welcome .graph {
  display: none;
  opacity: 0;
}
.welcome .menu {
  background-color: #ffffff;
}
.welcome.spinner .logo-spinner {
  display: block;
  -webkit-animation: orbit 0.5s infinite linear;
  animation: orbit 0.5s infinite linear;
  cursor: wait;
}
.welcome.spinner .menu-button {
  display: none;
}
.welcome.message .menu-button {
  display: none;
}
.sidebar {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI",
    "Ubuntu", "Droid Sans", sans-serif;
  font-size: 12px;
  height: 100%;
  right: -100%;
  position: fixed;
  transition: 0.1s;
  top: 0;
  color: #242424;
  overflow: hidden;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
}
.sidebar-section {
  margin: 10px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  background-color: var(--primary-white);


}
.sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--primary-background-color);
  
}
.sidebar-title {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
  height: 20px;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.sidebar-closebutton {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: var(--primary-color);
  opacity: 1;
  display: block;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-closebutton:hover {
  color: var(--secondary-color);
}
.sidebar-closebutton-text{
  line-height: 0;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 0;
  padding: 20px;
}
.sidebar-header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.25;
  margin-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--primary-background-color);
  display: block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}
.sidebar-object {
  flex-grow: 1;
  overflow-y: auto;
}
.sidebar-item {
  margin-bottom: 0px;
  display: block;
}
.sidebar-item-name {
  float: left;
  font-size: 12px;
  min-width: 95px;
  max-width: 95px;
  padding-right: 5px;
  padding-top: 7px;
  display: block;
}
.sidebar-item-name input {
  color: #777;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  width: 100%;
  text-align: right;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-overflow: ellipsis;
}
.sidebar-item-value-list {
  margin: 0;
  margin-left: 105px;
  overflow: hidden;
  display: block;
  padding: 0;
}
.sidebar-item-value {
  font-size: 12px;
  background-color: var(--primary-background-color);
  border-radius: 2px;
  border: 1px solid #fcfcfc;
  margin-top: 3px;
  margin-bottom: 3px;
  overflow: auto;
}
.sidebar-item-value-dark {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
}
.sidebar-item-value b {
  font-weight: bold;
}
.sidebar-item-value code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.sidebar-item-value pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  margin: 0;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  display: block;
}
.sidebar-item-value-line {
  padding: 4px 6px 4px 6px;
}
.sidebar-item-value-line-link {
  padding: 4px 6px 4px 6px;
  cursor: default;
}
.sidebar-item-value-line-link:hover {
  text-decoration: underline;
}
.sidebar-item-value-line-border {
  padding: 4px 6px 4px 6px;
  border-top: 1px solid rgba(27, 31, 35, 0.05);
}
.sidebar-item-value-line-content {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  display: block;
}
.sidebar-item-value-expander {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  float: right;
  color: var(--primary-color);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 4px 6px 4px 6px;
}
.sidebar-item-value-expander:hover {
  color: var(--secondary-color);
}
.sidebar-item-select {
  font-family: inherit;
  font-size: 12px;
  background-color: #fcfcfc;
  border: #fcfcfc;
  color: #333;
  border-radius: 2px;
  width: 100%;
  height: 23px;
  padding: 3px 12px 3px 7px;
  margin-top: 3px;
  margin-bottom: 3px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #333 50%),
    linear-gradient(135deg, #333 50%, transparent 50%);
  background-position: calc(100% - 12px) calc(10px), calc(100% - 7px) calc(10px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}
.sidebar-separator {
  margin-bottom: 20px;
}
.sidebar-find-search {
  font-family: inherit;
  font-size: 13px;
  margin: 0px 20px 8px 20px;
  padding: 8px 16px 8px 16px;
  background: #fff;
  border-radius: 16px;
  border: 0;
  outline: 0;
}
.sidebar-find-content {
  flex-grow: 1;
  padding: 0px 20px 20px 20px;
  padding-right: 20px;
  overflow-y: auto;
  list-style-type: none;
  overflow-y: auto;
  margin: 0;
}
.sidebar-find-content li {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 12px;
  margin: 0;
  padding: 5px 8px 5px 18px;
  outline: 0;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.sidebar-find-content li:hover {
  background: #e5e5e5;
}
.sidebar-documentation {
  flex-grow: 1;
  padding: 0px 20px 20px 20px;
  overflow-y: auto;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
}
.sidebar-documentation h1 {
  font-weight: bold;
  font-size: 13px;
  line-height: 1.25;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 0.3em;
  margin-top: 0;
  margin-bottom: 16px;
}
.sidebar-documentation h2 {
  font-weight: bold;
  font-size: 11px;
  line-height: 1.25;
  margin-top: 20px;
  margin-bottom: 16px;
  text-transform: uppercase;
  border: 0;
}
.sidebar-documentation h3 {
  font-weight: bold;
  font-size: 11px;
  line-height: 1.25;
}
.sidebar-documentation p {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
}
.sidebar-documentation a {
  color: #237;
}
.sidebar-documentation code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 12px;
  background-color: rgba(27, 31, 35, 0.05);
  padding: 0.2em 0.4em;
  margin: 0;
  border-radius: 3px;
}
.sidebar-documentation pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 12px;
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
.sidebar-documentation pre code {
  font-size: 13px;
  padding: 16px;
  line-height: 1.45;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}
.sidebar-documentation tt {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-weight: bold;
  font-size: 90%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  margin: 0;
}
.sidebar-documentation dl dt {
  font-size: 13px;
  font-weight: bold;
  padding: 0;
  margin-top: 16px;
  margin-left: 0px;
}
.sidebar-documentation dd {
  padding: 0 16px;
  margin-left: 0;
  margin-bottom: 16px;
}
.sidebar-documentation ul {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 20px;
}
.sidebar-documentation blockquote {
  margin-left: 15px;
  margin-right: 15px;
}
.about {
  overflow: hidden;
}
.about .toolbar {
  display: none;
}
.about .logo-message {
  display: block;
  top: 132px;
  font-size: 14px;
}
.about .logo-github {
  display: block;
  top: 340px;
  width: 48px;
  height: 48px;
}
.about a {
  text-decoration: none;
  color: #666666;
}
.about a:visited {
  color: inherit;
}
.about a:hover {
  color: #242424;
}
.about .open-file-button {
  display: none;
}
.about .logo-name {
  display: none;
}
.about .message {
  display: none;
}
.about .progress {
  display: none;
}
.about .menu-button {
  display: none;
}
.titlebar {
  color: #aaaaaa;
  display: none;
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-app-region: drag;
}
.titlebar-visible {
  display: block;
}
.titlebar-content {
  display: block;
  padding: 0 142px;
  height: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  transition: all 0.1s ease-in-out;
  user-select: none;
}
.titlebar-content-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.spinner .titlebar-content {
  opacity: 0;
}
.active .titlebar {
  color: #464646;
  transition: all 0.05s ease-in-out;
}
.titlebar-control-box {
  display: none;
  align-items: center;
  flex-direction: row-reverse;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 138px;
}
.titlebar-control-box-visible {
  display: flex;
}
.titlebar-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.titlebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 32px;
  user-select: none;
  -webkit-app-region: no-drag;
}
.titlebar-button:hover {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.15);
}
.titlebar-button-close:hover {
  color: #ffffff;
  background-color: #b43029;
}
.menu-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  color: #aaaaaa;
  font-size: 24px;
  height: 32px;
  width: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-app-region: no-drag;
  -webkit-app-region: no-drag;
  user-select: none;
}
.menu-button:hover {
  color: #000000;
}
.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -150vw;
  width: 15vw;
  top: 0;
  height: 100%;
  z-index: 2;
  background-color: var(--primary-white);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 40px;
  padding-bottom: 2px;
  margin-left: 0;
  margin-top: 0;
  overflow: hidden;
  transition: 0.1s;
}
.menu .menu-group {
  margin-bottom: 12px;
}
.menu .menu-group .menu-group-header {
  display: block;
  border: none;
  border-radius: 0;
  color: black;
  width: 100%;
  text-align: left;
  margin: 4px 12px 5px 12px;
  white-space: no-wrap;
  font-size: 11px;
  font-weight: bold;
  color: #bbbbbb;
  white-space: nowrap;
}
.menu .menu-group .menu-command {
  display: block;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: black;
  width: 100%;
  text-align: left;
  padding: 4px 12px 5px 12px;
  height: 3em;
  font-size: 12px;
}
.menu .menu-group .menu-command:focus {
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  outline: none;
  position: relative;
}
.menu .menu-group .menu-command:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 4px;
  height: 100%;
  background-color: var(--primary-color); /* Change to your desired line color */
}
.menu .menu-group .menu-command:disabled {
  color: var(--primary-white);
}
.menu .menu-group .menu-command .menu-label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu-group .menu-command .menu-shortcut {
  display: block;
  float: right;
  margin-left: 25px;

}
.menu .menu-group .menu-separator {
  border-top: 1px;
  border-bottom: 0;
  border-style: solid;
  border-color: #e5e5e5;
  margin-left: 12px;
  margin-right: 12px;
}
.about .titlebar-visible {
  opacity: 0;
}
@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.welcome.spinner .logo-spinner-stroke {
  stroke: #ececec;
}
.welcome.spinner .logo-name {
  display: none;
}
.welcome.spinner .open-file-button {
  display: none;
}
.welcome.spinner .graph {
  display: flex;
  opacity: 0;
}
.welcome .message .logo-name {
  display: none;
}
.welcome .message .open-file-button {
  display: none;
}
.welcome .toolbar {
  display: none;
}
@media all and (max-width: 640px) {
  .logo {
    width: 240px;
  }
  .logo-text {
    opacity: 0;
  }
  .logo-name {
    opacity: 0;
  }
  .menu {
    width: 100vw;
  }
  .logo-icon {
    left: 0;
    top: 0;
    width: 128px;
    height: 128px;
  }
  .logo-spinner {
    left: 0;
    top: 0;
    width: 128px;
    height: 128px;
  }
  .logo .open-file-button {
    top: 204px;
    left: 0;
  }
  .message-text{
    color: #fff'
  }
  .message-dialog .message-button {
    top: 304px;
  }
  .message-dialog .message-text {

    top: 190px;
    width: 240px;
  }
  .progress {
    top: 160px;
    height: 2px;
    width: 100px;
  }
  .about .logo {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .about .logo-message {
    top: 175px;
    font-size: 12px;
  }
  .about .logo-github {
    top: 370px;
  }
  .sidebar {
    z-index: 3;
    width: 100vw !important;
  }
  .sidebar-section {
    margin: 0px !important;
  }
}
@media only screen and (max-device-width: 1024px) {
  .toolbar-button {
    width: 32px;
    height: 32px;
  }
  .toolbar-back-button {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .toolbar-name-button {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary-color: #2C64E3;
    --secondary-color: #374e84;
    --primary-white: #dfdddd;
    --primary-background-color: #0D0D0D;
    --secondary-background-color: #222222;
    --font-size: 16px;
  }
  .default {
    background-color: var(--primary-background-color);
  }
  .graph {
    background-color: var(--primary-background-color);
  }
  .welcome {
    background-color: var(--primary-background-color);
  }
  .logo-stroke {
    stroke: var(--primary-white);
  }
  .logo-fill {
    fill: var(--primary-white);
  }
  .logo-border {
    stroke: #000000;
  }
  .logo-glyph {
    fill: var(--primary-white);
  }
  .logo-spinner-stroke {
    stroke: #ffffff;
  }

  .message-dialog {
    color: var(--primary-white);
  }
  .message-dialog-card {
    background-color: var(--secondary-background-color);
  }
  .welcome .progress-bar {
    background-color: var(--primary-white);
  }
  .welcome .menu {
    background-color: #2d2d2d;
  }
  .menu .menu-group .menu-command:focus::before {
    background-color: var(--secondary-background-color); /* Change to your desired line color */
  }
  .about .logo {
    background-color: #1e1e1e;
    color: var(--primary-white);
  }
  .about a {
    color: #c6c6c6;
  }
  .about a:hover {
    color: #ffffff;
  }
  .toolbar-icon .border {
    stroke: #1d1d1d;
  }
  .toolbar-icon .stroke {
    stroke: #aaaaaa;
  }
  .toolbar-icon:hover .stroke {
    stroke: #dfdfdf;
  }
  .toolbar-back-button {
    background: #aaaaaa;
    border-color: #aaaaaa;
    color: #333333;
  }
  .toolbar-back-button:hover {
    background: #dfdfdf;
    border-color: #dfdfdf;
  }
  .toolbar-name-button {
    background: #404040;
    border-color: #aaaaaa;
    color: #cccccc;
  }
  .toolbar-name-button:hover {
    color: #dfdfdf;
  }
  .titlebar {
    color: #949494;
  }
  .welcome body {
    background-color: #0b1437;
  }
  .default body {
    background-color: var(--primary-background-color);
  }
  .active .titlebar {
    color: #c4c4c4;
  }
  .titlebar-button:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
  }
  .titlebar-button-close:hover {
    color: #ffffff;
    background-color: #b43029;
  }
  .menu-button {
    /* color: #aaaaaa; */
    
  }
  .menu-button:hover {
    color: #ffffff;
  }
  .menu {
    background-color: #2d2d2d;
    border-color: rgba(0, 0, 0, 0);
  }
  .menu .menu-group .menu-group-header {
    color: #666666;
  }
  .menu .menu-group .menu-command {
    color: #ffffff;
  }
  .menu .menu-group .menu-command:focus {
    color: #ffffff;
    background-color: #2e6bd2;
  }
  .menu .menu-group .menu-command:disabled {
    color: var(--primary-white);
  }
  .menu .menu-group .menu-command .shortcut {
    color: var(--primary-white);
  }
  .menu .menu-group .menu-separator {
    border-color: #363636;
  }
  .sidebar html {
    color: #dfdfdf;
  }
  .sidebar {
    color: #dfdfdf;
    border-left: 1px solid rgba(0, 0, 0, 0);
  }
  .sidebar-section {
    background-color: var(--secondary-background-color);
  }
  .sidebar-item-value {
    background-color: #383838;
    border-color: #383838;
  }
  .sidebar-item-value-dark {
    background-color: #3e3e3e;
    border-color: #3e3e3e;
  }
  .sidebar-item-value-line-border {
    border-color: rgba(0, 0, 0, 0.09);
  }
  .sidebar-item-select {
    background-color: #383838;
    border: #383838;
    color: #dfdfdf;
    background-image: linear-gradient(45deg, transparent 50%, #aaa 50%),
      linear-gradient(135deg, #aaa 50%, transparent 50%);
  }
  .sidebar-header {
    border-bottom-color: #2d2d2d;
    color: #dfdfdf;
  }
  .sidebar-documentation h1 {
    border-bottom: 1px solid #424242;
    color: #dfdfdf;
  }
  .sidebar-documentation h2 {
    color: #dfdfdf;
  }
  .sidebar-documentation p {
    color: #aaaaaa;
  }
  .sidebar-documentation a {
    color: #6688aa;
  }
  .sidebar-documentation tt {
    background-color: #1e1e1e;
  }
  .sidebar-documentation code {
    background-color: #1e1e1e;
  }
  .sidebar-documentation pre {
    background-color: #1e1e1e;
  }
  .sidebar-find-search {
    background: #383838;
    color: #dfdfdf;
    border-color: #424242;
  }
  .sidebar-find-content li:hover {
    background: #383838;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .menu {
    transition: none;
  }
  .sidebar {
    transition: none;
  }
}